input, button, select, textarea {
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif;
  outline: 0; }

.d-f, main .slider .slides .slide .slide__txt .slide__rect-txt, main .header .container, main .header .container .header__nav .menu__items, main .portfolio-section .container .portfolio__items, main .contact-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-b, main .slider .slides .slide .slide__txt .slide__rect-txt span, main .header .container .logo, main .header .container .header__nav .header__burger-menu span, main .portfolio-section .container .portfolio__items .portfolio__item .portfolio__item-hidden-link, main .contact-page .container .details span {
  display: block; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.text-center {
  text-align: center; }

.white {
  color: #fff; }

.p-5 {
  padding: 0 5%; }

.fl-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.icon-right-open,
.icon-left-open,
.icon-down-open {
  font-size: 21px;
  color: #fff;
  font-weight: bold; }

* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #FFFFFF;
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5em; }

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1001; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

body, html {
  color: #7F8289;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  line-height: 28px;
  height: 100%;
  background: #2F3238; }

main {
  position: relative; }
  main .slider {
    width: 100%;
    height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    main .slider .slides {
      width: inherit;
      height: inherit;
      position: relative; }
      main .slider .slides .slider__navigation {
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2F3238;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        main .slider .slides .slider__navigation .transition__btn {
          width: 50px;
          height: 50px;
          background-color: #26292E;
          cursor: pointer;
          -webkit-transition: .3s;
          transition: .3s; }
          main .slider .slides .slider__navigation .transition__btn:hover {
            background: #DE5E60; }
        main .slider .slides .slider__navigation .slider__btn {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          main .slider .slides .slider__navigation .slider__btn .btn__next,
          main .slider .slides .slider__navigation .slider__btn .btn__prev {
            width: 50px;
            height: 50px;
            background-color: #26292E;
            margin: 0 3px 0 0;
            cursor: pointer;
            -webkit-transition: .3s;
            transition: .3s; }
            main .slider .slides .slider__navigation .slider__btn .btn__next:hover,
            main .slider .slides .slider__navigation .slider__btn .btn__prev:hover {
              background: #DE5E60; }
          main .slider .slides .slider__navigation .slider__btn .btn__prev {
            -webkit-animation: pike  1s infinite ease-in-out;
            animation: pike  1s infinite ease-in-out; }
        main .slider .slides .slider__navigation .slider-bullets {
          text-align: center; }
          main .slider .slides .slider__navigation .slider-bullets .slider-bullet {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: #6E7074;
            border-radius: 50%;
            margin: 0 3px;
            cursor: pointer;
            -webkit-transition: .3s;
            transition: .3s; }
            main .slider .slides .slider__navigation .slider-bullets .slider-bullet.active {
              background-color: #DE5E60; }
            main .slider .slides .slider__navigation .slider-bullets .slider-bullet:hover {
              background: #fff; }
      main .slider .slides .slide {
        width: inherit;
        height: inherit;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        main .slider .slides .slide .slide__overlay {
          text-align: center;
          font-size: 40px;
          background-color: rgba(0, 0, 0, 0.2);
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          @media screen and (max-width: 764px) {
            main .slider .slides .slide .slide__overlay .a-fadeName {
              font-size: 28px;
              padding: 0 5px; } }
        main .slider .slides .slide .slide__txt {
          position: absolute;
          bottom: 0;
          left: 0; }
          main .slider .slides .slide .slide__txt[data-slide-txt="2"], main .slider .slides .slide .slide__txt[data-slide-txt="4"] {
            background: rgba(8, 63, 71, 0.7);
            max-width: 611px;
            width: 100%;
            bottom: 70px;
            left: 60px;
            padding: 10px 25px 10px 10px; }
            main .slider .slides .slide .slide__txt[data-slide-txt="2"] .slide__title[data-slide-title="2"], main .slider .slides .slide .slide__txt[data-slide-txt="4"] .slide__title[data-slide-title="2"] {
              color: #f7913f;
              font: 30px/40px "Mangal" , sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 3px; }
          main .slider .slides .slide .slide__txt[data-slide-txt="3"] {
            max-width: 611px;
            width: 100%;
            bottom: 70px;
            left: 60px;
            padding: 10px 25px 10px 10px; }
            main .slider .slides .slide .slide__txt[data-slide-txt="3"] .slide__title[data-slide-title="3"] {
              color: #f7913f;
              font: 30px/40px "Mangal" , sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 3px; }
          main .slider .slides .slide .slide__txt[data-slide-txt="4"] .slide__title[data-slide-title="4"] {
            color: #f7913f;
            font: 30px/40px "Mangal" , sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px; }
          main .slider .slides .slide .slide__txt .slide__rect {
            width: 186px;
            height: 159px;
            position: absolute;
            top: -78px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            left: 491px; }
            main .slider .slides .slide .slide__txt .slide__rect-txt {
              position: absolute;
              top: 55px;
              left: 32px;
              -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
              color: #ffffff;
              font: 16px/16px "Mangal" ,sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 2px;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center; }
              main .slider .slides .slide .slide__txt .slide__rect-txt span:first-child {
                font-size: 29px;
                margin-right: 5px; }
          main .slider .slides .slide .slide__txt .slide__items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            main .slider .slides .slide .slide__txt .slide__items .slide__item {
              width: -webkit-max-content;
              width: -moz-max-content;
              width: max-content;
              background-color: #f7913f;
              color: #ffffff;
              font: 45px/80px "Mangal" ,sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 4.5px; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(1) {
                color: #064c56;
                padding: 0 51% 0 38%; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(2) {
                padding: 0 7% 0 16%; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(3) {
                padding: 0 7% 0 40%; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(4) {
                padding: 0 7% 0 40%; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(5) {
                padding: 0 7% 0 37%; }
  main .header {
    background-color: #26292E;
    position: relative;
    width: 100%;
    height: 58px;
    z-index: 1001; }
    main .header .container {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      main .header .container .logo {
        padding: 15px 0;
        margin-left: 20px;
        color: #fff;
        text-decoration: none; }
      main .header .container .header__nav .header__burger-menu {
        display: none; }
        @media screen and (max-width: 764px) {
          main .header .container .header__nav .header__burger-menu {
            display: block;
            margin-right: 20px;
            cursor: pointer; } }
        main .header .container .header__nav .header__burger-menu span {
          width: 16px;
          height: 3px;
          background: #fff; }
          main .header .container .header__nav .header__burger-menu span:nth-child(2) {
            margin-top: 2px; }
          main .header .container .header__nav .header__burger-menu span:last-child {
            margin-top: 2px; }
      @media screen and (max-width: 764px) {
        main .header .container .header__nav .menu__items {
          display: none; } }
      main .header .container .header__nav .menu__items a {
        color: #fff;
        text-decoration: none;
        -webkit-transition: .3s;
        transition: .3s;
        margin-right: 50px;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase; }
        main .header .container .header__nav .menu__items a.active__item, main .header .container .header__nav .menu__items a:hover {
          color: #DE5E60; }
  main .header__nav-mobile {
    background: #2F3238;
    display: none; }
    main .header__nav-mobile .menu__items-mobile .menu__item-mobile {
      background: #26292E;
      text-align: center;
      margin-bottom: 1px; }
      main .header__nav-mobile .menu__items-mobile .menu__item-mobile a {
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        padding: 20px 0;
        color: #DE5E60;
        text-decoration: none;
        -webkit-transition: .3s;
        transition: .3s; }
        main .header__nav-mobile .menu__items-mobile .menu__item-mobile a:hover {
          color: #fff; }
  main .portfolio-section {
    padding: 100px 0; }
    main .portfolio-section .container .portfolio__title {
      text-align: center;
      font-size: 48px;
      margin: 0 0 10px 0; }
    main .portfolio-section .container .portfolio__subtitle {
      text-align: center;
      margin-bottom: 40px; }
    main .portfolio-section .container .portfolio__items {
      max-width: 1000px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto; }
      main .portfolio-section .container .portfolio__items .portfolio__item {
        max-width: 220px;
        width: 24%;
        height: 155px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        position: relative;
        margin-bottom: 35px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-transition: .3s;
        transition: .3s;
        overflow: hidden; }
        @media screen and (max-width: 764px) {
          main .portfolio-section .container .portfolio__items .portfolio__item {
            width: 75%;
            height: 238px;
            max-width: 75%;
            background-size: 100%;
            background-position: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 20px auto;
            border: 1px solid #fff; } }
        main .portfolio-section .container .portfolio__items .portfolio__item:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }
          main .portfolio-section .container .portfolio__items .portfolio__item:hover .portfolio__item-hidden-link {
            bottom: 0; }
        main .portfolio-section .container .portfolio__items .portfolio__item .portfolio__item-hidden-link {
          background: rgba(0, 0, 0, 0.3);
          color: #fff !important;
          position: absolute;
          bottom: -50px;
          left: 0;
          right: 0;
          z-index: 5;
          text-align: center;
          -webkit-transition: .3s;
          transition: .3s;
          padding: 5px 5px; }
        main .portfolio-section .container .portfolio__items .portfolio__item .overlay-item {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #000;
          opacity: 0.3;
          -webkit-transition: .3s;
          transition: .3s;
          z-index: 4; }
          main .portfolio-section .container .portfolio__items .portfolio__item .overlay-item:hover {
            opacity: 0.1; }
  main .biography {
    background: #26292E; }
    main .biography__title {
      padding: 50px 0; }
    main .biography__photo {
      width: 250px;
      height: 250px;
      margin: auto;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100%;
      border-radius: 50%; }
    main .biography__description {
      width: 90%;
      margin: 15px auto;
      padding: 15px 0; }
  main .contact-page {
    background: #2F3238;
    margin: 50px 15px; }
    main .contact-page .container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media screen and (max-width: 764px) {
        main .contact-page .container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
        main .contact-page .container .contact {
          margin-bottom: 25px; } }
      main .contact-page .container .contact {
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%; }
        main .contact-page .container .contact .contact__name .contact__input,
        main .contact-page .container .contact .contact__name .contact__message__input,
        main .contact-page .container .contact .contact__email .contact__input,
        main .contact-page .container .contact .contact__email .contact__message__input,
        main .contact-page .container .contact .contact__message .contact__input,
        main .contact-page .container .contact .contact__message .contact__message__input {
          width: 95%;
          border: none;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          background: #26292E;
          color: #fff;
          font-size: 16px;
          height: auto;
          padding: 15px;
          margin: 0;
          resize: none; }
        main .contact-page .container .contact .contact__email > .contact__input {
          margin: 2px 0; }
        main .contact-page .container .contact .contact__message__input {
          color: #fff; }
        main .contact-page .container .contact .contact__button {
          background: #3C3F45;
          border: none;
          color: #23262C;
          cursor: pointer;
          display: inline-block;
          font-size: 18px;
          font-weight: 500;
          padding: 16px 40px;
          text-align: center;
          vertical-align: middle;
          width: auto;
          margin-top: 30px;
          -webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;
          transition: background 0.1s linear 0s, color 0.1s linear 0s;
          border-radius: 3px; }
          main .contact-page .container .contact .contact__button:hover {
            background: #DE5E60;
            color: #fff; }
          @media screen and (max-width: 764px) {
            main .contact-page .container .contact .contact__button {
              width: 100%; } }
      main .contact-page .container .details {
        -ms-flex-preferred-size: 24%;
        flex-basis: 24%; }
        main .contact-page .container .details .details__tel,
        main .contact-page .container .details .details__email {
          color: #fff;
          font-weight: bold;
          display: block;
          margin: 10px 0;
          text-decoration: none; }
        @media screen and (max-width: 764px) {
          main .contact-page .container .details {
            text-align: center; } }

.up-button {
  width: 50px;
  height: 50px;
  background-color: #26292E;
  margin: 0 3px 0 0;
  cursor: pointer;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 21px;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none; }
  .up-button:hover {
    background: #DE5E60; }
